<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
  			http://www.springframework.org/schema/context/spring-context.xsd">

	<description>wenhua-app-tcpserver 配置文件</description>

	<context:property-placeholder location="classpath*:app-database.properties" />
	
	<context:component-scan base-package="com.wenhua.service" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>

	<!-- 监听服务 -->
	<import resource="classpath:spring-context-tcp-server.xml"/>
	
	<!-- 业务服务 -->
	<import resource="classpath:spring-context-service.xml"/>

</beans>